<!DOCTYPE html>
<html>
  {% include v2/head.html %}
    <body class="bg-no-repeat h-screen bg-center bg-cover bg-fixed" style="background-image: url('{{site.heroimage}}')">

        <div class="flex">
            {% include v2/navbar.html %}
        </div>

        <div class="container mx-auto bg-white 2xl:px-80 xl:px-60 lg:px-40 md:px-20 sm:px-10 md:pt-20">
            <h1 class="text-3xl font-semibold mb-8">Skills</h1>
            {% include v2/skills.html %}
        </div>

    </body>

</html>
