<section class="hero is-fullheight has-text-centered has-background-white-ter" id="about">
    <div class="hero-body">
        <div class="container">
            <div class="columns">
                <div class="column is-one-fifth-desktop is-one-fifth-tablet is-one-fifth-fullhd">
                    <figure class="image">
                        <img class="is-rounded" src="{{site.data.about.image}}" alt="{{site.author-name}}">
                    </figure>
                </div>
                <div class="column has-text-left-desktop has-text-left-tablet has-text-left-fullhd has-text-left-widescreen">
                    <h2 class="subtitle"> {{site.data.about.ocupation}}</h2>
                    <p>{{site.data.about.description-1}}</p>
                    <br>
                    <p>{{site.data.about.description-2}}</p>
                    <br>
                    <div class="container columns is-centered">
                        <div>
                            <a href="{{site.url}}{{site.baseurl}}/#contact"
                                class="button is-rounded is-uppercase has-text-weight-normal is-black is-outlined">Contact
                                Me</a>
                            </a>
                        </div>
                        <!-- <div>
                             <a href="{{site.url}}{{site.baseurl}}/blog"
                             class="button is-rounded is-uppercase has-text-weight-normal is-black is-outlined">Blog</a>
                             </a>
                             </div> -->
                        <div>
                            <a href="{{site.url}}{{site.baseurl}}/projects"
                               class="button is-rounded is-uppercase has-text-weight-normal is-black is-outlined">Projects</a>
                            </a>
                        </div>
                    </div>
                    <br>
                    <div class="container columns is-centered">
                     {% for skill in site.data.skills %}
                        <span class="tag is-success is-light column">{{ skill.name }}</span>
                      {% endfor %}
                    </div>
                    <br>
                    <div class="container columns is-centered">
                     {% for framework in site.data.frameworks %}
                        <span class="tag is-info is-light column">{{ framework.name }}</span>
                      {% endfor %}
                    </div>
                </div>
            </div>
        </div>
</section>
