<h1>About Me</h1>

<h3>{{site.data.about.name}}</h3>
<p class="italic">{{site.data.about.ocupation}}</p>

<div class="flex-col">

    <section class="flex items-center justify-center py-6">
        <img class="" src="{{site.data.about.image}}"/>
    </section>

    <div>
        <div class="prose prose-slate w-full max-w-none mx-auto mb-4">
                {% for paragraph in site.data.about.paragraphs %}
            <p>{{ paragraph }}</p>
                {% endfor %}
        </div>

        <div class="prose lg:prose-lg md:prose-md ">
            <span class="icon-text pr-2">
                <span class="icon">
                    <i class="fa fa-envelope"></i>
                </span>
                <span>{{site.email}}</span>
            </span>
            <span class="icon-text">
                <span class="icon">
                    <i class="fa fa-phone"></i>
                </span>
                <span>{{site.data.about.mobile}}</span>
            </span>
        </div>
    </div>

</div>

