<footer id="footer">
    <!--Footer Button-->
    <div class="container has-text-centered">
        <button class="button is-rounded is-dark" onclick="window.scroll(0,0)">
            <span class="icon is-large">
                <i class="fas fa-arrow-up"></i>
            </span>
        </button>
    </div>
    <!--Footer Main Section-->
    <div class="has-background-grey-darker">
        <div class="container columns">
            <!--Name Section-->
            <div class="column has-text-left-desktop has-text-centered-mobile">
                <div class="columns">
                    <div class="column is-one-fifth-desktop is-one-fifth-fullhd is-one-quarter-tablet">
                        <figure class="image is-64x64">
                            <img class="is-rounded" src="{{site.data.about.image}}">
                        </figure>
                    </div>
                    <div class="column is-marginless">
                        <h5 class="has-text-white">
                            <i class="fa fa-pagelines"></i> Tenfold Path
                        </h5>
                        <h7 class="has-text-grey">CVR 36128801 </h7>
                        <h5 class="has-text-grey">Dragan Dimitrijevic</h5>
                        <div class="content has-text-grey">
                            <p> dragandm@gmail.com </p>
                        </div>
                    </div>
                </div>
            </div>

            <!--Link Section-->
            <div class="column has-text-white">
                <h3>Recent Workplaces</h3>
                {% for tag in site.tags %}
                  {% if tag[0] == "work" %}
                    {% for post in tag[1] limit: 3 %}
                    <li>
                        <a href="{{post.url | absolute_url}}">{{post.title}}</a>
                    </li>
                    {% endfor %}
                  {% endif %}
                {% endfor %}
            </div>

            <!--Blog-post Section-->
            <div class="column has-text-white">
                <h3>Recent Projects</h3>
              {% for tag in site.tags %}
                {% if tag[0] == "project" %}
                  {% for post in tag[1] limit: 3 %}
                  <li>
                      <a href="{{post.url | absolute_url}}">{{post.title}}</a>
                  </li>
                  {% endfor %}
                {% endif %}
              {% endfor %}
            </div>
        </div>
    </div>
    <div class="has-background-black has-text-centered has-text-white">
    </div>
</footer>
