<div class="flex items-center justify-center h-[calc(100vh-65px)]">

    <div class="p-4 mx-auto place-items-center p-12 ">
        <p class="text-white text-3xl font-extrabold underline lg:text-4xl md:text-3xl sm:text-lg"> {{site.data.about.name}} - {{site.data.about.ocupation}} </p>
        <p class="text-white font-bold p-4 xl:text-4xl lg:text-3xl md:text-2xl sm:text-lg font-headline"> Online portfolio </p>
        <div class="flex items-center px-4">

            <a class="no-underline" href="/about"> <div class="text-white bg-slate-800 m-2 p-4 border border-black rounded-lg hover:text-blue-300 transition-colors"> Read more </div> </a>
            <a class="no-underline" href="/pdf/cv.pdf"> <div class="text-white bg-slate-800 m-2 p-4 border border-black rounded-lg hover:text-blue-300 transition-colors"> Download CV </div> </a>
            <a class="no-underline" href="/pdf/portfolio.pdf"> <div class="text-white bg-slate-800 m-2 p-4 border border-black rounded-lg hover:text-blue-300 transition-colors"> Download Portfolio </div> </a>
        </div>
    </div>

</div>
