{% assign color = "text-indigo-400" %}
<nav class="navbar">
    <a href="/"><div class="font-bold">{{site.data.about.name}}</div></a>
    <div class="flex items-start p-2">
        <a href="/about">
            <div class="mx-2 hover:{{ color }} font-semibold {% if page.title == 'About' %}{{ color }}{% endif %}">
               About
            </div>
        </a>
        <a href="/work-experience">
            <div class="mx-2 hover:{{ color }} font-semibold {% if page.title == 'Work Experience' %}{{ color }}{% endif %}">
               Work experience
            </div>
        </a>
        <a href="/projects">
            <div class="mx-2 hover:{{ color }} font-semibold  {% if page.title == 'Project' %}{{ color }}{% endif %}">
               Projects
            </div>
        </a>
        <a href="/skills">
            <div class="mx-2 hover:{{ color }} font-semibold {% if page.title == 'Skills' %}{{ color }}{% endif %}"">
               Skills
            </div>
        </a>
    </div>
</nav>
