<h1>Projects</h1>

{% assign projects = site.tags.project %}

{% for project in projects %}
<div class="mb-10">

    <div class="prose mb-4">
        <h2 id="{{project.title | replace: " ", "_"}}" > {{project.title}} </h2>
    </div>

    <div class="my-2 text-xs text-slate-400 font-semibold">
        {% if project.clients.size > 0 %}
        <span class="">Client:</span>
        <span class="">
          {% for client in project.clients %}
            <span >{{ client }}{% unless forloop.last %}, {% endunless %}</span>
          {% endfor %}
        </span>
        {% endif %}
    </div>

    <div class="prose prose-slate w-full max-w-none mx-auto mb-4">
          {{project.content}}
    </div>

    <div class="text-sm text-gray-800 flex flex-wrap items-center gap-2">
    {% for tech in project.tech %}
        <span class="inline-block border-2 border-slate-100 rounded-md">
            <a href="{{ tech.url }}" title="{{ tech.name }}" class="hover:underline">
                <img title="{{tech.name}}" class="object-center h-8 w-8 p-1" src="{{tech.image}}">
            </a>
        </span>
    {% endfor %}
    </div>

    <span class="">
        {% for aws in project.aws %}
        <div class="inline-flex items-center rounded-md bg-amber-400 px-2 py-1 text-xs font-medium text-white ring-1 ring-inset ring-yellow-600/20">{{ aws }}</div>
        {% endfor %}
    </span>

</div>
{% endfor %}


