<section class="hero is-fullheight has-background-white-bis" id="skills">
    <div class="hero-body">
        <div class="container">
            <div class="columns ">
                <div class="column has-text-centered">
                    <h4 class="subtitle is-2"> Skills </h4>
                </div>
            </div>
            <br>
            <div class="columns">
                <div class="column is-half has-background-grey-light_ " >

                    {% for skill in site.data.skills limit: 6 %}
                        <h6 class="subtitle is-6 mb-0"> {{skill.name}}</h6>
                        <progress class="progress is-small" value="{{skill.level}}" max="100">{{skill.level }}%</progress>
                    {% endfor %}

                </div>
                <div class="column" style="margin:0">

                    <h4 class="subtitle is-5"> Frameworks: </h4>
                    <div class="tags">
                     {% for framework in site.data.frameworks %}
                        <div class="tag is-info is-medium ">{{ framework.name }}</div>
                      {% endfor %}
                    </div>

                    <h4 class="subtitle is-5"> AWS: </h4>
                    <div class="tags ">
                     {% for aws in site.data.aws %}
                        <span class="tag is-warning is-medium ">{{ aws.name }}</span>
                      {% endfor %}
                    </div>

                </div>
            </div>
        </div>
    </div>

</section>
