---
---
@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
    h1 {
        @apply text-xl font-bold mt-6 mb-2 tracking-tight border-b border-gray-300 pb-1 print:text-base print:mt-4 print:mb-1;
    }
    h2 {
        @apply text-lg font-semibold mt-6 mb-2 tracking-tight print:text-sm print:mt-4 print:mb-1;
    }
    h3 {
        @apply text-lg font-medium mt-5 mb-1 tracking-normal text-gray-800 print:text-xs print:mt-3 print:mb-1;
    }
    p {
        @apply text-sm leading-relaxed mb-2 print:mb-1;
    }
    ul {
        @apply list-disc ml-5 text-sm mb-4 print:mb-2;
    }
    li {
        @apply mb-1 print:mb-0.5;
    }
    strong {
        @apply font-semibold;
    }
    em {
        @apply italic;
    }
    a {
        @apply text-blue-400 underline hover:text-blue-800;
    }
    @media print {
        a {
            color: #3b82f6 !important;
            text-decoration: none !important;
            -prince-pdf-color-adjust: exact;
        }
        .print\:break-after-page {
            page-break-after: always;
        }
    }
    /* CV Styling */
    body.cv {
        @apply text-gray-800 bg-gray-100 font-sans text-sm print:bg-white;
    }

    main.cv-container {
        @apply max-w-3xl mx-auto px-6 py-6 bg-gray-50 print:bg-white print:px-4 print:py-4;
    }

    /* Portfolio Styling */
    body.portfolio {
        @apply text-gray-800 bg-gray-100 font-sans text-sm print:bg-white;
    }

    main.portfolio-container {
        @apply max-w-5xl mx-auto px-8 py-6 bg-white print:px-4 print:py-4;
    }

}
