<div class="flex items-center justify-center">

    <div class="bg-white p-4 flex-col">

        <div class="">
            <section class="flex items-center justify-center">
                <img class="" src="{{site.data.about.image}}"/>
            </section>
        </div>
        <div class="xl:px-14 lg:p-10 md:p-8 sm:p-6">
            <div class="prose lg:prose-lg md:prose-md">
                <p class="">{{site.data.about.description-0}}</p>
                <p class="">{{site.data.about.description-1}}</p>
                <p class="">{{site.data.about.description-2}}</p>
            </div>

            <div class="prose lg:prose-lg md:prose-md pt-6">
                <span class="icon-text pr-2">
                    <span class="icon">
                        <i class="fa fa-envelope"></i>
                    </span>
                    <span>{{site.email}}</span>
                </span>
                <span class="icon-text">
                    <span class="icon">
                        <i class="fa fa-phone"></i>
                    </span>
                    <span>{{site.data.about.mobile}}</span>
                </span>
            </div>

        </div>

    </div>

</div>
