<div class="flex items-center justify-center h-[calc(100vh-65px)]">

    <div class="p-4 mx-auto place-items-center p-12 text-white">
        <p class="text-3xl font-extrabold underline lg:text-4xl md:text-3xl sm:text-lg"> Dragan Dimitrijevic - Software Engineer </p>
        <p class="font-bold p-4 xl:text-4xl lg:text-3xl md:text-2xl sm:text-lg font-headline"> Online portfolio </p>
        <div class="flex items-center px-4">
            <a href="/about"> <div class="m-2 p-4 border rounded-lg hover:bg-white hover:text-slate-800"> Read more </div> </a>
            <a href="/pdf/cv.pdf"> <div class="m-2 p-4 border rounded-lg hover:bg-white hover:text-slate-800"> Download CV </div> </a>
            <a href="/pdf/portfolio.pdf"> <div class="m-2 p-4 border rounded-lg hover:bg-white hover:text-slate-800"> Download Portfolio </div> </a>
        </div>
    </div>

</div>
