<h1 class="text-3xl font-semibold mb-8">Work experience</h1>



          {% assign workExperience = site.posts | where_exp: "item", "item.tags contains 'work'" %}
          {% for workExperience in workExperience %}
<div class="mb-8">


    <div class=""> 
    <div class="prose">
        <h2 class=""> {{workExperience.title}} </h2>
        <h3> {{workExperience.company}} </h3>
        <span class="font-semibold">{{workExperience.startDate}} - {{workExperience.endDate}}</span>
    </div>
    <div class="prose pt-4">
    {{workExperience.content}}
    </div>
    </div>


</div>
          {% endfor %}        
