<div class="page" >

    <h1>Work experience</h1>

    {% assign work_entries = site.tags.work | sort: 'startDate' | reverse %}

    {% for work_experience in work_entries %}
    <div class="mb-10">
        <div class="prose mb-4">
            <h2 class=""> {{work_experience.title}} </h2>
            <span class="text-lg font-bold"> {{work_experience.company}} </span>  <span class="font-semibold"> - {{work_experience.place}} {{work_experience.startDate | date: "%b %Y"}} - {{work_experience.endDate | date: "%b %Y"}}</span>
        </div>

        <div class="prose prose-slate w-full max-w-none mx-auto ">
         {{work_experience.content}}
        </div>

        <div class="my-4">
            {% for skill in work_experience.skills %}
            <span class="items-center rounded-md bg-indigo-50 px-2 py-1 text-xs font-medium text-indigo-800 ring-1 ring-inset ring-yellow-600/20">{{ skill }}</span>
            {% endfor %}
        </div>

    </div>
    {% endfor %}

</div>
