---
layout: compress
---

<!DOCTYPE html>
<html>

    <head>
      {% include head.html %}
    </head>

    <body class="has-navbar-fixed-top">
        {% include navbar.html %}

        <div class="main-container">

            <div class="container" >
                <!-- <div class="level">
                     <figure class="image" style="border-radius: 0.25rem;">
                     <img  src="{{page.post-image}}" alt="{{post.title}}">
                     </figure>
                     </div> -->

                <div class="level">
                    <h1 class="title has-text-weight-medium ">{{page.title}}</h1>
                </div>


                <!-- Right side -->
                <div class="level">
                    <div class="level-left">
                        <div class="level-item has-text-weight-light">
                          Published:&nbsp;{{ page.date | date: "%-B %d, %Y" }}&nbsp;by&nbsp;
                            <a href="{% if site.author-url %}{{site.author-url}}{% else %}{{site.url}}{{site.baseurl}}/#about{% endif %}" target="_blank"> <b class="has-text-link is-light"><u>{{site.data.about.name}}</u></b></a>
                        </div>
                    </div>
                    <div class="level-left">
                        <div class="level-item">
                    {%- assign tags = page.tags -%}
                    {%- unless tags.size == 0 -%}
                            <p class="level-item subtitle is-uppercase">
                                <i class="fas fa-tags"></i>
                    {% assign i = 0 %}
                    {% for tags in page.tags %}
                                <span class="tag is-info is-light">{{page.tags[i]}}</span>
                    {% assign i = i | plus:1 %}
                    {% endfor %}
                        </p>
                    {%- endunless -%}
                        </div>
                    </div>
                </div>

                <div class="columns is-gapless">
                    <div class="column is-three-quarters has-text-left-desktop has-text-left-fullhd ">
                        <div class="content">
                            <p>{{ content }}</p>
                        </div>
                    </div>
                    <div class="column">
                        <figure class="image is-5by3" style="border-radius: 0.25rem;">
                            <img  src="{{page.image}}" alt="{{post.title}}">
                        </figure>
                    </div>
                </div>
            </div>            

        </div>
        
        {% include footer.html %}
    </body>
</html>
