---
layout: compress
---

<!DOCTYPE html>
<html>

    <head>
      {% include head.html %}
    </head>

    <body class="has-navbar-fixed-top">
      {% include navbar.html %}
        
        <div class="main-container">
            <div class="container">
            {% include projectpage-heading.html %}

                <div class="tile is-ancestor">
                    <div class="tile is-vertical is-12">
                        <div class="tile">
                            <div class="tile is-parent is-vertical">
                                {% for tag in site.tags %}
                                  {% if tag[0] == "project" %}
                                     {% assign projects = tag[1] %}
                                  {% endif %}
                                {% endfor %}

                                <!-- card 1 -->
                                <div class="card tile is-child">
                                    <div class="card-image">
                                        <figure class="image is-5by3">
                                            <img src="{{projects[0].post-image}}" alt="Placeholder image">
                                        </figure>
                                    </div>

                                    <header class="card-header">
                                        <p class="card-header-title">
                                        {{projects[0].title}}
                                        </p>
                                    </header>
                                    <div class="card-content">
                                        <div class="content">
                                          {{projects[0].content | strip_html | truncate: 300}}
                                        </div>
                                        <a href="{{projects[0].url | absolute_url}}" class="button is-light is-small">Read</a>
                                    </div>
                                </div>

                                <!-- card 2 -->
                                <div class="card tile is-child">
                                    <div class="card-image">
                                        <figure class="image is-5by3">
                                            <img src="{{projects[1].post-image}}" alt="{{projects[1].title}}">
                                        </figure>
                                    </div>
                                    <header class="card-header">
                                        <p class="card-header-title">
                                         {{projects[1].title}}
                                        </p>
                                    </header>
                                    <div class="card-content">
                                        <div class="content">
                                         {{projects[1].content | strip_html | truncate: 300}}
                                        </div>
                                        <a href="{{projects[1].url | absolute_url}}" class="button is-light is-small">Read</a>
                                    </div>
                                </div>


                            </div>

                            <div class="tile is-parent is-vertical">
                                <!-- card 3 -->
                                <div class="card tile is-child">
                                    <div class="card-image">
                                        <figure class="image is-5by3">
                                            <img src="{{projects[2].post-image}}" alt="Placeholder image">
                                        </figure>
                                    </div>
                                    <header class="card-header">
                                        <p class="card-header-title">
                                         {{projects[2].title}}
                                        </p>
                                    </header>
                                    <div class="card-content">
                                        <div class="content">
                                         {{projects[2].content | strip_html | truncate: 300}}
                                        </div>
                                        <a href="{{projects[2].url | absolute_url}}" class="button is-light is-small">Read</a>
                                    </div>
                                </div>

                                <!-- card 4 -->
                                <div class="card tile is-child">
                                    <div class="card-image">
                                        <figure class="image is-5by3">
                                            <img src="{{projects[3].post-image}}" alt="Placeholder image">
                                        </figure>
                                    </div>
                                    <header class="card-header">
                                        <p class="card-header-title">
                                         {{projects[3].title}}
                                        </p>
                                    </header>
                                    <div class="card-content">
                                        <div class="content">
                                         {{projects[3].content | strip_html | truncate: 300}}
                                        </div>
                                        <a href="{{projects[3].url | absolute_url}}" class="button is-light is-small">Read</a>
                                    </div>
                                </div>

                            </div>

                        </div>
                    </div>
                </div>

                <!-- Project Cards Section-->
{% comment %}
              {% for tag in site.tags %}
                {% if tag[0] == "project" %}
                  {% for post in tag[1] %}
                  {% include project-card.html %}
                  {% endfor %}
                {% endif %}
              {% endfor %}
{% endcomment %}
            </div>
        </div>
        <br>
      <!--Footer begins here-->
    {% include footer.html %}
    </body>

</html>
