---
layout: compress
---

<!DOCTYPE html>
<html>

{% include head.html %}

<body>
    {% include navbar.html %}

    <section class="hero is-fullheight" id="blog">
        <div class="hero-body">
            <div class="container">
              {% include workpage-heading.html %}
            </div>
        </div>
        <div id="results-container"></div>
{% for tag in site.tags %}
   {% if tag[0] == "work" %}
        {% for post in tag[1] %}
            {% include work-card.html %}
        {% endfor %}
   {% endif %}
{% endfor %}
        </div>
    </section>
    <br>
    <!--Footer begins here-->
    {% include footer.html %}
</body>

</html>
